.mod-detail-form{
    margin: 50px 0 0 200px;
}

.coll-list{
    float: left;
    width: 200px;
    padding: 10px;

    .coll-item{
        line-height: 30px;
        border-bottom: 1px solid #e5e5e5;
    }
}


.new-coll-input{
    width: 100px;
    float: left;
}

.new-coll-btn{
    float: left;
}

.table-wrp{
    float: 250px;
    padding-top: 10px;
}

