.mod-detail-wrp{
    margin-top: 50px;
    margin-left: 200px;
}

.mod-detail-form{
    width: 600px;
    padding: 10px;
    border: 1px solid #e5e5e5;

    label{
        width: 80px;
        display: inline-block;
    }
}
